﻿@model NEW.Models.EventModel


<form action="addEvents" method="post">
    <div> Enter name: <input asp-for="Name" name="Name" type="text" value=@Model.Name /> </div>
    <div> Enter location: <input asp-for="Location" name="Location" type="text" value=@Model.Location /> </div>
    <button type="submit">Submit</button>
</form>