﻿@model NEW.Models.EventModel

<form action="eventDetails" method="post">
    <div>
        <h1>@Model.Id</h1>

        <h2>@Model.Name</h2>
        <h2>@Model.Location</h2>

        <button type="submit">Back</button>
    </div>


</form>
